
/* font defaults; can't just import because of odd class selectors */

body#tinymce.wp-editor { 
    font-family: serif;
    font-size: 125%; /* Scaling to mimic words per column as in output */
    padding-left: 2rem !important; /* unfortunate defaults are !important so need to override them to give some breathing room! */ 
    padding-right: 2.5rem !important;
    max-width: 32em; /* so text doesn't expand across the screen unduly */
    margin-left: auto;
    margin-right: auto;
}
