/*

   BACKGROUND SIZE

   Base:
    backgroundsize = background-size

   Modifiers:
    cover = cover
    contain = contain

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .backgroundsize-cover  {               background-size: cover; }
  .backgroundsize-contain  {               background-size: contain; }

@media (--breakpoint-not-small) {
  .backgroundsize-cover-ns {             background-size: cover; }
  .backgroundsize-contain-ns {             background-size: contain; }
}

@media (--breakpoint-medium) {
  .backgroundsize-cover-m {              background-size: cover; }
  .backgroundsize-contain-m {              background-size: contain; }
}

@media (--breakpoint-large) {
  .backgroundsize-cover-l {              background-size: cover; }
  .backgroundsize-contain-l {              background-size: contain; }
}
