/*

   BORDER WIDTHS

   Base:
     borderwidth = border-width

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.borderwidth-0 { border-width: 0; }
.borderwidth-1 { border-width: .125rem; }
.borderwidth-2 { border-width: .25rem; }
.borderwidth-3 { border-width: .5rem; }
.borderwidth-4 { border-width: .75rem; }
.borderwidth-5 { border-width: 1rem; }

