 /*

   BORDER COLORS

   Use in cobmination with the _borders.css module
   Or for more flexibility the _border-styles.css and _border-widths.css modules

   Base:
     bordercolor- = border-color

 */

.bordercolor-black {        border-color: var(--black); }
.bordercolor-nearblack {   border-color: var(--near-black); }
.bordercolor-darkgray,
.bordercolor-darkgrey {    border-color: var(--dark-gray); }
.bordercolor-midgray,
.bordercolor-midgrey {     border-color: var(--mid-gray); }
.bordercolor-gray,
.bordercolor-grey {         border-color: var(--gray); }
.bordercolor-silver {       border-color: var(--silver); }
.bordercolor-lightsilver { border-color: var(--light-silver); }
.bordercolor-lightgray,
.bordercolor-lightgrey {   border-color: var(--light-gray); }
.bordercolor-nearwhite {   border-color: var(--near-white); }
.bordercolor-white {        border-color: var(--white); }

.bordercolor-white10 {   border-color: hsla(0, 0, 100%, .1); }
.bordercolor-white20 {   border-color: hsla(0, 0, 100%, .2); }
.bordercolor-white25 {   border-color: hsla(0, 0, 100%, .25); }
.bordercolor-white30 {   border-color: hsla(0, 0, 100%, .3); }
.bordercolor-white40 {   border-color: hsla(0, 0, 100%, .4); }
.bordercolor-white50 {   border-color: hsla(0, 0, 100%, .5); }
.bordercolor-white60 {   border-color: hsla(0, 0, 100%, .6); }
.bordercolor-white70 {   border-color: hsla(0, 0, 100%, .7); }
.bordercolor-white75 {   border-color: hsla(0, 0, 100%, .75); }
.bordercolor-white80 {   border-color: hsla(0, 0, 100%, .8); }
.bordercolor-white90 {   border-color: hsla(0, 0, 100%, .9); }

.bordercolor-black10 {   border-color: hsla(0, 0, 0,    .1); }
.bordercolor-black20 {   border-color: hsla(0, 0, 0,    .2); }
.bordercolor-black25 {   border-color: hsla(0, 0, 0,    .25); }
.bordercolor-black30 {   border-color: hsla(0, 0, 0,    .3); }
.bordercolor-black40 {   border-color: hsla(0, 0, 0,    .4); }
.bordercolor-black50 {   border-color: hsla(0, 0, 0,    .5); }
.bordercolor-black60 {   border-color: hsla(0, 0, 0,    .6); }
.bordercolor-black70 {   border-color: hsla(0, 0, 0,    .7); }
.bordercolor-black75 {   border-color: hsla(0, 0, 0,    .75); }
.bordercolor-black80 {   border-color: hsla(0, 0, 0,    .8); }
.bordercolor-black90 {   border-color: hsla(0, 0, 0,    .9); }

.bordercolor-blue { border-color: var(--blue); }
.bordercolor-lightblue { border-color: var(--light-blue); }
.bordercolor-lightestblue { border-color: var(--lightest-blue); }
.bordercolor-darkblue { border-color: var(--dark-blue); }
.bordercolor-darkestblue { border-color: var(--darkest-blue); }
.bordercolor-yellow { border-color: var(--yellow); }
.bordercolor-lightyellow { border-color: var(--light-yellow); }
.bordercolor-lightestyellow { border-color: var(--lightest-yellow); }
.bordercolor-darkyellow { border-color: var(--dark-yellow); }
.bordercolor-darkestyellow { border-color: var(--darkest-yellow); }
.bordercolor-orange { border-color: var(--orange); }
.bordercolor-lightorange { border-color: var(--light-orange); }
.bordercolor-lightestorange { border-color: var(--lightest-orange); }
.bordercolor-darkorange { border-color: var(--dark-orange); }
.bordercolor-darkestorange { border-color: var(--darkest-orange); }
.bordercolor-red { border-color: var(--red); }
.bordercolor-lightred { border-color: var(--light-red); }
.bordercolor-lightestred { border-color: var(--lightest-red); }
.bordercolor-darkred { border-color: var(--dark-red); }
.bordercolor-darkestred { border-color: var(--darkest-red); }
.bordercolor-teal { border-color: var(--teal); }
.bordercolor-lightteal { border-color: var(--light-teal); }
.bordercolor-lightestteal { border-color: var(--lightest-teal); }
.bordercolor-darkteal { border-color: var(--dark-teal); }
.bordercolor-darkestteal { border-color: var(--darkest-teal); }
.bordercolor-green { border-color: var(--green); }
.bordercolor-lightgreen { border-color: var(--light-green); }
.bordercolor-lightestgreen { border-color: var(--lightest-green); }
.bordercolor-darkgreen { border-color: var(--dark-green); }
.bordercolor-darkestgreen { border-color: var(--darkest-green); }
.bordercolor-pink { border-color: var(--pink); }
.bordercolor-lightpink { border-color: var(--light-pink); }
.bordercolor-lightestpink { border-color: var(--lightest-pink); }
.bordercolor-darkpink { border-color: var(--dark-pink); }
.bordercolor-darkestpink { border-color: var(--darkest-pink); }
.bordercolor-purple { border-color: var(--purple); }
.bordercolor-lightpurple { border-color: var(--light-purple); }
.bordercolor-lightestpurple { border-color: var(--lightest-purple); }
.bordercolor-darkpurple { border-color: var(--dark-purple); }
.bordercolor-darkestpurple { border-color: var(--darkest-purple); }
