@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   BORDER STYLES

   Base:
     borderstyle = border-style

   Modifiers:
     none   = none
     dotted = dotted
     solid  = solid

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

 */

.borderstyle-none {   border-style: none; }
.borderstyle-dotted { border-style: dotted; }
.borderstyle-dashed { border-style: dashed; }
.borderstyle-solid {  border-style: solid; }

 @media (--breakpoint-not-small) {
   .borderstyle-none-ns {   border-style: none; }
   .borderstyle-dotted-ns { border-style: dotted; }
   .borderstyle-dashed-ns { border-style: dashed; }
   .borderstyle-solid-ns {  border-style: solid; }
 }

 @media (--breakpoint-medium) {
   .borderstyle-none-m {   border-style: none; }
   .borderstyle-dotted-m { border-style: dotted; }
   .borderstyle-dashed-m { border-style: dashed; }
   .borderstyle-solid-m {  border-style: solid; }
 }

 @media (--breakpoint-large) {
   .borderstyle-none-l {   border-style: none; }
   .borderstyle-dotted-l { border-style: dotted; }
   .borderstyle-dashed-l { border-style: dashed; }
   .borderstyle-solid-l {  border-style: solid; }
 }
