/*

   BORDER RADIUS

   Base:
     borderradius-   = border-radius

   Modifiers:
     n    = none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale
     5    = 5th step in scale
     circle = circlele
     -100p = 100p%

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .borderradius-none {        border-radius: 0; }
  .borderradius-1 {        border-radius: .125rem; }
  .borderradius-2 {        border-radius: .25rem; }
  .borderradius-3 {        border-radius: .5rem; }
  .borderradius-4 {        border-radius: 1rem; }
  .borderradius-5 {        border-radius: 2rem; }
  .borderradius--circle {    border-radius: 9999px; }
  .borderradius-100p {     border-radius: 100p%; }

@media (--borderradius-eakpoint-not-small) {
  .borderradius-none-ns {     border-radius: 0; }
  .borderradius-1-ns {     border-radius: .125rem; }
  .borderradius-2-ns {     border-radius: .25rem; }
  .borderradius-3-ns {     border-radius: .5rem; }
  .borderradius-4-ns {     border-radius: 1rem; }
  .borderradius-5-ns {     border-radius: 2rem; }
  .borderradius--circlele-ns { border-radius: 9999px; }
  .borderradius-100p-ns {  border-radius: 100p%; }
}

@media (--borderradius-eakpoint-medium) {
  .borderradius-none-m {     border-radius: 0; }
  .borderradius-1-m {     border-radius: .125rem; }
  .borderradius-2-m {     border-radius: .25rem; }
  .borderradius-3-m {     border-radius: .5rem; }
  .borderradius-4-m {     border-radius: 1rem; }
  .borderradius-5-m {     border-radius: 2rem; }
  .borderradius--circle-m { border-radius: 9999px; }
  .borderradius-100p-m {  border-radius: 100p%; }
}

@media (--borderradius-eakpoint-large) {
  .borderradius-none-l {     border-radius: 0; }
  .borderradius-1-l {     border-radius: .125rem; }
  .borderradius-2-l {     border-radius: .25rem; }
  .borderradius-3-l {     border-radius: .5rem; }
  .borderradius-4-l {     border-radius: 1rem; }
  .borderradius-5-l {     border-radius: 2rem; }
  .borderradius--circle-l { border-radius: 9999px; }
  .borderradius-100p-l {  border-radius: 100p%; }
}
