@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   BORDER BASE

   Base:
    border = border

   Modifiers:
     n = none, no border-style or border-width
     N/A = assumes all
     t = top
     r = right
     b = bottom
     l = left

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

 /* The extra `.border-none` is required to boost the specificity, which is needed
 * sometimes if you are setting the border to 0. */
  .border-none.border-none { border-style: solid; border-width: 0; }
  .border { border-style: solid; border-width: 1px; }
  .bordertop { border-top-style: solid; border-top-width: 1px; }
  .borderright { border-right-style: solid; border-right-width: 1px; }
  .borderbottom { border-bottom-style: solid; border-bottom-width: 1px; }
  .borderleft { border-left-style: solid; border-left-width: 1px; }

@media (--breakpoint-not-small) {
  .border-none-ns { border-style: solid; border-width: 0; }
  .border-ns { border-style: solid; border-width: 1px; }
  .bordertop-ns { border-top-style: solid; border-top-width: 1px; }
  .borderright-ns { border-right-style: solid; border-right-width: 1px; }
  .borderbottom-ns { border-bottom-style: solid; border-bottom-width: 1px; }
  .borderleft-ns { border-left-style: solid; border-left-width: 1px; }
}

@media (--breakpoint-medium) {
  .border-none-m { border-style: solid; border-width: 0; }
  .border-m { border-style: solid; border-width: 1px; }
  .bordertop-m { border-top-style: solid; border-top-width: 1px; }
  .borderright-m { border-right-style: solid; border-right-width: 1px; }
  .borderbottom-m { border-bottom-style: solid; border-bottom-width: 1px; }
  .borderleft-m { border-left-style: solid; border-left-width: 1px; }
}

@media (--breakpoint-large) {
  .border-none-l { border-style: solid; border-width: 0; }
  .border-l { border-style: solid; border-width: 1px; }
  .bordertop-l { border-top-style: solid; border-top-width: 1px; }
  .borderright-l { border-right-style: solid; border-right-width: 1px; }
  .borderbottom-l { border-bottom-style: solid; border-bottom-width: 1px; }
  .borderleft-l { border-left-style: solid; border-left-width: 1px; }
}
