/*

   BORDER COLORS

*/

.bordercolor-black {        border-color: var(--black); }
.bordercolor-nearblack {   border-color: var(--near-black); }
.bordercolor-darkgray,
.bordercolor-darkgrey {    border-color: var(--dark-gray); }
.bordercolor-midgray,
.bordercolor-midgrey {     border-color: var(--mid-gray); }
.bordercolor-gray,
.bordercolor-grey {         border-color: var(--gray); }
.bordercolor-silver {       border-color: var(--silver); }
.bordercolor-lightsilver { border-color: var(--light-silver); }
.bordercolor-lightgray,
.bordercolor-lightgrey {   border-color: var(--light-gray); }
.bordercolor-nearwhite {   border-color: var(--near-white); }
.bordercolor-white {        border-color: var(--white); }

.bordercolor-white90 {   border-color: var(--white-90); }
.bordercolor-white80 {   border-color: var(--white-80); }
.bordercolor-white70 {   border-color: var(--white-70); }
.bordercolor-white60 {   border-color: var(--white-60); }
.bordercolor-white50 {   border-color: var(--white-50); }
.bordercolor-white40 {   border-color: var(--white-40); }
.bordercolor-white30 {   border-color: var(--white-30); }
.bordercolor-white20 {   border-color: var(--white-20); }
.bordercolor-white10 {   border-color: var(--white-10); }
.bordercolor-white05 {   border-color: var(--white-05); }
.bordercolor-white025 {   border-color: var(--white-025); }
.bordercolor-white0125 {   border-color: var(--white-0125); }

.bordercolor-black90 {   border-color: var(--black-90); }
.bordercolor-black80 {   border-color: var(--black-80); }
.bordercolor-black70 {   border-color: var(--black-70); }
.bordercolor-black60 {   border-color: var(--black-60); }
.bordercolor-black50 {   border-color: var(--black-50); }
.bordercolor-black40 {   border-color: var(--black-40); }
.bordercolor-black30 {   border-color: var(--black-30); }
.bordercolor-black20 {   border-color: var(--black-20); }
.bordercolor-black10 {   border-color: var(--black-10); }
.bordercolor-black05 {   border-color: var(--black-05); }
.bordercolor-black025 {   border-color: var(--black-025); }
.bordercolor-black0125 {   border-color: var(--black-0125); }

.bordercolor-blue { border-color: var(--blue); }
.bordercolor-lightblue { border-color: var(--light-blue); }
.bordercolor-lightestblue { border-color: var(--lightest-blue); }
.bordercolor-darkblue { border-color: var(--dark-blue); }
.bordercolor-darkestblue { border-color: var(--darkest-blue); }
.bordercolor-yellow { border-color: var(--yellow); }
.bordercolor-lightyellow { border-color: var(--light-yellow); }
.bordercolor-lightestyellow { border-color: var(--lightest-yellow); }
.bordercolor-darkyellow { border-color: var(--dark-yellow); }
.bordercolor-darkestyellow { border-color: var(--darkest-yellow); }
.bordercolor-orange { border-color: var(--orange); }
.bordercolor-lightorange { border-color: var(--light-orange); }
.bordercolor-lightestorange { border-color: var(--lightest-orange); }
.bordercolor-darkorange { border-color: var(--dark-orange); }
.bordercolor-darkestorange { border-color: var(--darkest-orange); }
.bordercolor-red { border-color: var(--red); }
.bordercolor-lightred { border-color: var(--light-red); }
.bordercolor-lightestred { border-color: var(--lightest-red); }
.bordercolor-darkred { border-color: var(--dark-red); }
.bordercolor-darkestred { border-color: var(--darkest-red); }
.bordercolor-teal { border-color: var(--teal); }
.bordercolor-lightteal { border-color: var(--light-teal); }
.bordercolor-lightestteal { border-color: var(--lightest-teal); }
.bordercolor-darkteal { border-color: var(--dark-teal); }
.bordercolor-darkestteal { border-color: var(--darkest-teal); }
.bordercolor-green { border-color: var(--green); }
.bordercolor-lightgreen { border-color: var(--light-green); }
.bordercolor-lightestgreen { border-color: var(--lightest-green); }
.bordercolor-darkgreen { border-color: var(--dark-green); }
.bordercolor-darkestgreen { border-color: var(--darkest-green); }
.bordercolor-pink { border-color: var(--pink); }
.bordercolor-lightpink { border-color: var(--light-pink); }
.bordercolor-lightestpink { border-color: var(--lightest-pink); }
.bordercolor-darkpink { border-color: var(--dark-pink); }
.bordercolor-darkestpink { border-color: var(--darkest-pink); }
.bordercolor-purple { border-color: var(--purple); }
.bordercolor-lightpurple { border-color: var(--light-purple); }
.bordercolor-lightestpurple { border-color: var(--lightest-purple); }
.bordercolor-darkpurple { border-color: var(--dark-purple); }
.bordercolor-darkestpurple { border-color: var(--darkest-purple); }

.bordercolor-transparent { border-color: var(--transparent); }
