/*

   FONT WEIGHT

*/

.normal, .fontweight-normal   { font-weight: normal; }
.b, .fontweight-bold          { font-weight: bold; }
.thin, .fontweight-100        { font-weight: 100; }
.book, .fontweight-400        { font-weight: 400; }
.bold, .fontweight-700        { font-weight: 700; }
.heavy, .fontweight-900       { font-weight: 900; }

@media (--breakpoint-not-small) {
  .normal-ns, .fontweight-normal-ns  { font-weight: normal; }
  .b-ns, .fontweight-bold-ns         { font-weight: bold; }
  .thin-ns, .fontweight-100-ns       { font-weight: 100; }
  .book-ns, .fontweight-400-ns       { font-weight: 400; }
  .bold-ns, .fontweight-700-ns       { font-weight: 700; }
  .heavy-ns, .fontweight-900-ns      { font-weight: 900; }
}

@media (--breakpoint-medium) {
  .normal-m, .fontweight-normal-m    { font-weight: normal; }
  .b-m, .fontweight-bold-m           { font-weight: bold; }
  .thin-m, .fontweight-100-m         { font-weight: 100; }
  .book-m, .fontweight-400-m         { font-weight: 400; }
  .bold-m, .fontweight-700-m         { font-weight: 700; }
  .heavy-m, .fontweight-900-m        { font-weight: 900; }
}

@media (--breakpoint-large) {
  .normal-l, .fontweight-normal-l    { font-weight: normal; }
  .b-l, .fontweight-bold-l           { font-weight: bold; }
  .thin-l, .fontweight-100-l         { font-weight: 100; }
  .book-l, .fontweight-400-l         { font-weight: 400; }
  .bold-l, .fontweight-700-l         { font-weight: 700; }
  .heavy-l, .fontweight-900-l        { font-weight: 900; }
}
