/*

   LETTER SPACING

*/

.tracked, .letterspacing-tracked           { letter-spacing:  .16em; }
.trackedtight, .letterspacing-tight       { letter-spacing: -.1em; }
.megatracked, .letterspacing-megatracked  { letter-spacing:  .3em; }

@media (--breakpoint-not-small) {
  .tracked-ns, .letterspacing-tracked-ns           { letter-spacing:  .16em; }
  .trackedtight-ns, .letterspacing-tight-ns       { letter-spacing: -.1em; }
  .megatracked-ns, .letterspacing-megatracked-ns  { letter-spacing:  .3em; }
}

@media (--breakpoint-medium) {
  .tracked-m, .letterspacing-tracked-m             { letter-spacing:  .16em; }
  .trackedtight-m, .letterspacing-tight-m         { letter-spacing: -.1em; }
  .megatracked-m, .letterspacing-megatracked-m    { letter-spacing:  .3em; }
}

@media (--breakpoint-large) {
  .tracked-l, .letterspacing-tracked-l             { letter-spacing:  .16em; }
  .trackedtight-l, .letterspacing-tight-l         { letter-spacing: -.1em; }
  .megatracked-l, .letterspacing-megatracked-l    { letter-spacing:  .3em; }
}
