/*

   SKINS

*/




/* Text colors */

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }

.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.black {         color: var(--near-black); }
.dark-gray {     color: var(--dark-gray); }
.mid-gray {      color: var(--mid-gray); }
.gray {          color: var(--gray); }
.silver  {       color: var(--silver); }
.light-silver {  color: var(--light-silver); }
.light-gray {    color: var(--light-gray); }
.near-white {    color: var(--near-white); }
.white {         color: var(--white); }

.blue { color: var(--blue); }
.light-blue { color: var(--light-blue); }
.lightest-blue { color: var(--lightest-blue); }
.dark-blue { color: var(--dark-blue); }
.darkest-blue { color: var(--darkest-blue); }
.yellow { color: var(--yellow); }
.light-yellow { color: var(--light-yellow); }
.lightest-yellow { color: var(--lightest-yellow); }
.dark-yellow { color: var(--dark-yellow); }
.darkest-yellow { color: var(--darkest-yellow); }
.orange { color: var(--orange); }
.light-orange { color: var(--light-orange); }
.lightest-orange { color: var(--lightest-orange); }
.dark-orange { color: var(--dark-orange); }
.darkest-orange { color: var(--darkest-orange); }
.red { color: var(--red); }
.light-red { color: var(--light-red); }
.lightest-red { color: var(--lightest-red); }
.dark-red { color: var(--dark-red); }
.darkest-red { color: var(--darkest-red); }
.teal { color: var(--teal); }
.light-teal { color: var(--light-teal); }
.lightest-teal { color: var(--lightest-teal); }
.dark-teal { color: var(--dark-teal); }
.darkest-teal { color: var(--darkest-teal); }
.green { color: var(--green); }
.light-green { color: var(--light-green); }
.lightest-green { color: var(--lightest-green); }
.dark-green { color: var(--dark-green); }
.darkest-green { color: var(--darkest-green); }
.pink { color: var(--pink); }
.light-pink { color: var(--light-pink); }
.lightest-pink { color: var(--lightest-pink); }
.dark-pink { color: var(--dark-pink); }
.darkest-pink { color: var(--darkest-pink); }
.purple { color: var(--purple); }
.light-purple { color: var(--light-purple); }
.lightest-purple { color: var(--lightest-purple); }
.dark-purple { color: var(--dark-purple); }
.darkest-purple { color: var(--darkest-purple); }

/* Background colors */

.backgroundcolor-black {         background-color: var(--near-black); }
.backgroundcolor-dark-gray {     background-color: var(--dark-gray); }
.backgroundcolor-mid-gray {      background-color: var(--mid-gray); }
.backgroundcolor-gray {          background-color: var(--gray); }
.backgroundcolor-silver  {       background-color: var(--silver); }
.backgroundcolor-light-silver {  background-color: var(--light-silver); }
.backgroundcolor-light-gray {    background-color: var(--light-gray); }
.backgroundcolor-near-white {    background-color: var(--near-white); }
.backgroundcolor-white {         background-color: var(--white); }

.backgroundcolor-blue { background-color: var(--blue); }
.backgroundcolor-light-blue { background-color: var(--light-blue); }
.backgroundcolor-lightest-blue { background-color: var(--lightest-blue); }
.backgroundcolor-dark-blue { background-color: var(--dark-blue); }
.backgroundcolor-darkest-blue { background-color: var(--darkest-blue); }
.backgroundcolor-yellow { background-color: var(--yellow); }
.backgroundcolor-light-yellow { background-color: var(--light-yellow); }
.backgroundcolor-lightest-yellow { background-color: var(--lightest-yellow); }
.backgroundcolor-dark-yellow { background-color: var(--dark-yellow); }
.backgroundcolor-darkest-yellow { background-color: var(--darkest-yellow); }
.backgroundcolor-orange { background-color: var(--orange); }
.backgroundcolor-light-orange { background-color: var(--light-orange); }
.backgroundcolor-lightest-orange { background-color: var(--lightest-orange); }
.backgroundcolor-dark-orange { background-color: var(--dark-orange); }
.backgroundcolor-darkest-orange { background-color: var(--darkest-orange); }
.backgroundcolor-red { background-color: var(--red); }
.backgroundcolor-light-red { background-color: var(--light-red); }
.backgroundcolor-lightest-red { background-color: var(--lightest-red); }
.backgroundcolor-dark-red { background-color: var(--dark-red); }
.backgroundcolor-darkest-red { background-color: var(--darkest-red); }
.backgroundcolor-teal { background-color: var(--teal); }
.backgroundcolor-light-teal { background-color: var(--light-teal); }
.backgroundcolor-lightest-teal { background-color: var(--lightest-teal); }
.backgroundcolor-dark-teal { background-color: var(--dark-teal); }
.backgroundcolor-darkest-teal { background-color: var(--darkest-teal); }
.backgroundcolor-green { background-color: var(--green); }
.backgroundcolor-light-green { background-color: var(--light-green); }
.backgroundcolor-lightest-green { background-color: var(--lightest-green); }
.backgroundcolor-dark-green { background-color: var(--dark-green); }
.backgroundcolor-darkest-green { background-color: var(--darkest-green); }
.backgroundcolor-pink { background-color: var(--pink); }
.backgroundcolor-light-pink { background-color: var(--light-pink); }
.backgroundcolor-lightest-pink { background-color: var(--lightest-pink); }
.backgroundcolor-dark-pink { background-color: var(--dark-pink); }
.backgroundcolor-darkest-pink { background-color: var(--darkest-pink); }
.backgroundcolor-purple { background-color: var(--purple); }
.backgroundcolor-light-purple { background-color: var(--light-purple); }
.backgroundcolor-lightest-purple { background-color: var(--lightest-purple); }
.backgroundcolor-dark-purple { background-color: var(--dark-purple); }
.backgroundcolor-darkest-purple { background-color: var(--darkest-purple); }

/* Skins for specific pseudoclasses */
.focus-black:focus { color: var(--black); }
.focus-near-black:focus { color: var(--near-black); }
.focus-dark-gray:focus { color: var(--dark-gray); }
.focus-mid-gray:focus { color: var(--mid-gray); }
.focus-gray:focus { color: var(--gray); }
.focus-silver:focus { color: var(--silver); }
.focus-light-silver:focus { color: var(--light-silver); }
.focus-moon-gray:focus { color: var(--moon-gray); }
.focus-light-gray:focus { color: var(--light-gray); }
.focus-near-white:focus { color: var(--near-white); }
.focus-white:focus { color: var(--white); }
.focus-blue:focus { color: var(--blue); }
.focus-light-blue:focus { color: var(--light-blue); }
.focus-lightest-blue:focus { color: var(--lightest-blue); }
.focus-dark-blue:focus { color: var(--dark-blue); }
.focus-darkest-blue:focus { color: var(--darkest-blue); }
.focus-yellow:focus { color: var(--yellow); }
.focus-light-yellow:focus { color: var(--light-yellow); }
.focus-lightest-yellow:focus { color: var(--lightest-yellow); }
.focus-dark-yellow:focus { color: var(--dark-yellow); }
.focus-darkest-yellow:focus { color: var(--darkest-yellow); }
.focus-orange:focus { color: var(--orange); }
.focus-light-orange:focus { color: var(--light-orange); }
.focus-lightest-orange:focus { color: var(--lightest-orange); }
.focus-dark-orange:focus { color: var(--dark-orange); }
.focus-darkest-orange:focus { color: var(--darkest-orange); }
.focus-red:focus { color: var(--red); }
.focus-light-red:focus { color: var(--light-red); }
.focus-lightest-red:focus { color: var(--lightest-red); }
.focus-dark-red:focus { color: var(--dark-red); }
.focus-darkest-red:focus { color: var(--darkest-red); }
.focus-teal:focus { color: var(--teal); }
.focus-light-teal:focus { color: var(--light-teal); }
.focus-lightest-teal:focus { color: var(--lightest-teal); }
.focus-dark-teal:focus { color: var(--dark-teal); }
.focus-darkest-teal:focus { color: var(--darkest-teal); }
.focus-green:focus { color: var(--green); }
.focus-light-green:focus { color: var(--light-green); }
.focus-lightest-green:focus { color: var(--lightest-green); }
.focus-dark-green:focus { color: var(--dark-green); }
.focus-darkest-green:focus { color: var(--darkest-green); }
.focus-pink:focus { color: var(--pink); }
.focus-light-pink:focus { color: var(--light-pink); }
.focus-lightest-pink:focus { color: var(--lightest-pink); }
.focus-dark-pink:focus { color: var(--dark-pink); }
.focus-darkest-pink:focus { color: var(--darkest-pink); }
.focus-purple:focus { color: var(--purple); }
.focus-light-purple:focus { color: var(--light-purple); }
.focus-lightest-purple:focus { color: var(--lightest-purple); }
.focus-dark-purple:focus { color: var(--dark-purple); }
.focus-darkest-purple:focus { color: var(--darkest-purple); }

.backgroundcolor-focus-black:focus { background-color: var(--black); }
.backgroundcolor-focus-near-black:focus { background-color: var(--near-black); }
.backgroundcolor-focus-dark-gray:focus { background-color: var(--dark-gray); }
.backgroundcolor-focus-mid-gray:focus { background-color: var(--mid-gray); }
.backgroundcolor-focus-gray:focus { background-color: var(--gray); }
.backgroundcolor-focus-silver:focus { background-color: var(--silver); }
.backgroundcolor-focus-light-silver:focus { background-color: var(--light-silver); }
.backgroundcolor-focus-moon-gray:focus { background-color: var(--moon-gray); }
.backgroundcolor-focus-light-gray:focus { background-color: var(--light-gray); }
.backgroundcolor-focus-near-white:focus { background-color: var(--near-white); }
.backgroundcolor-focus-white:focus { background-color: var(--white); }
.backgroundcolor-focus-blue:focus { background-color: var(--blue); }
.backgroundcolor-focus-light-blue:focus { background-color: var(--light-blue); }
.backgroundcolor-focus-lightest-blue:focus { background-color: var(--lightest-blue); }
.backgroundcolor-focus-dark-blue:focus { background-color: var(--dark-blue); }
.backgroundcolor-focus-darkest-blue:focus { background-color: var(--darkest-blue); }
.backgroundcolor-focus-yellow:focus { background-color: var(--yellow); }
.backgroundcolor-focus-light-yellow:focus { background-color: var(--light-yellow); }
.backgroundcolor-focus-lightest-yellow:focus { background-color: var(--lightest-yellow); }
.backgroundcolor-focus-dark-yellow:focus { background-color: var(--dark-yellow); }
.backgroundcolor-focus-darkest-yellow:focus { background-color: var(--darkest-yellow); }
.backgroundcolor-focus-orange:focus { background-color: var(--orange); }
.backgroundcolor-focus-light-orange:focus { background-color: var(--light-orange); }
.backgroundcolor-focus-lightest-orange:focus { background-color: var(--lightest-orange); }
.backgroundcolor-focus-dark-orange:focus { background-color: var(--dark-orange); }
.backgroundcolor-focus-darkest-orange:focus { background-color: var(--darkest-orange); }
.backgroundcolor-focus-red:focus { background-color: var(--red); }
.backgroundcolor-focus-light-red:focus { background-color: var(--light-red); }
.backgroundcolor-focus-lightest-red:focus { background-color: var(--lightest-red); }
.backgroundcolor-focus-dark-red:focus { background-color: var(--dark-red); }
.backgroundcolor-focus-darkest-red:focus { background-color: var(--darkest-red); }
.backgroundcolor-focus-teal:focus { background-color: var(--teal); }
.backgroundcolor-focus-light-teal:focus { background-color: var(--light-teal); }
.backgroundcolor-focus-lightest-teal:focus { background-color: var(--lightest-teal); }
.backgroundcolor-focus-dark-teal:focus { background-color: var(--dark-teal); }
.backgroundcolor-focus-darkest-teal:focus { background-color: var(--darkest-teal); }
.backgroundcolor-focus-green:focus { background-color: var(--green); }
.backgroundcolor-focus-light-green:focus { background-color: var(--light-green); }
.backgroundcolor-focus-lightest-green:focus { background-color: var(--lightest-green); }
.backgroundcolor-focus-dark-green:focus { background-color: var(--dark-green); }
.backgroundcolor-focus-darkest-green:focus { background-color: var(--darkest-green); }
.backgroundcolor-focus-pink:focus { background-color: var(--pink); }
.backgroundcolor-focus-light-pink:focus { background-color: var(--light-pink); }
.backgroundcolor-focus-lightest-pink:focus { background-color: var(--lightest-pink); }
.backgroundcolor-focus-dark-pink:focus { background-color: var(--dark-pink); }
.backgroundcolor-focus-darkest-pink:focus { background-color: var(--darkest-pink); }
.backgroundcolor-focus-purple:focus { background-color: var(--purple); }
.backgroundcolor-focus-light-purple:focus { background-color: var(--light-purple); }
.backgroundcolor-focus-lightest-purple:focus { background-color: var(--lightest-purple); }
.backgroundcolor-focus-dark-purple:focus { background-color: var(--dark-purple); }
.backgroundcolor-focus-darkest-purple:focus { background-color: var(--darkest-purple); }

.hover-black:hover { color: var(--black); }
.hover-near-black:hover { color: var(--near-black); }
.hover-dark-gray:hover { color: var(--dark-gray); }
.hover-mid-gray:hover { color: var(--mid-gray); }
.hover-gray:hover { color: var(--gray); }
.hover-silver:hover { color: var(--silver); }
.hover-light-silver:hover { color: var(--light-silver); }
.hover-moon-gray:hover { color: var(--moon-gray); }
.hover-light-gray:hover { color: var(--light-gray); }
.hover-near-white:hover { color: var(--near-white); }
.hover-white:hover { color: var(--white); }
.hover-blue:hover { color: var(--blue); }
.hover-light-blue:hover { color: var(--light-blue); }
.hover-lightest-blue:hover { color: var(--lightest-blue); }
.hover-dark-blue:hover { color: var(--dark-blue); }
.hover-darkest-blue:hover { color: var(--darkest-blue); }
.hover-yellow:hover { color: var(--yellow); }
.hover-light-yellow:hover { color: var(--light-yellow); }
.hover-lightest-yellow:hover { color: var(--lightest-yellow); }
.hover-dark-yellow:hover { color: var(--dark-yellow); }
.hover-darkest-yellow:hover { color: var(--darkest-yellow); }
.hover-orange:hover { color: var(--orange); }
.hover-light-orange:hover { color: var(--light-orange); }
.hover-lightest-orange:hover { color: var(--lightest-orange); }
.hover-dark-orange:hover { color: var(--dark-orange); }
.hover-darkest-orange:hover { color: var(--darkest-orange); }
.hover-red:hover { color: var(--red); }
.hover-light-red:hover { color: var(--light-red); }
.hover-lightest-red:hover { color: var(--lightest-red); }
.hover-dark-red:hover { color: var(--dark-red); }
.hover-darkest-red:hover { color: var(--darkest-red); }
.hover-teal:hover { color: var(--teal); }
.hover-light-teal:hover { color: var(--light-teal); }
.hover-lightest-teal:hover { color: var(--lightest-teal); }
.hover-dark-teal:hover { color: var(--dark-teal); }
.hover-darkest-teal:hover { color: var(--darkest-teal); }
.hover-green:hover { color: var(--green); }
.hover-light-green:hover { color: var(--light-green); }
.hover-lightest-green:hover { color: var(--lightest-green); }
.hover-dark-green:hover { color: var(--dark-green); }
.hover-darkest-green:hover { color: var(--darkest-green); }
.hover-pink:hover { color: var(--pink); }
.hover-light-pink:hover { color: var(--light-pink); }
.hover-lightest-pink:hover { color: var(--lightest-pink); }
.hover-dark-pink:hover { color: var(--dark-pink); }
.hover-darkest-pink:hover { color: var(--darkest-pink); }
.hover-purple:hover { color: var(--purple); }
.hover-light-purple:hover { color: var(--light-purple); }
.hover-lightest-purple:hover { color: var(--lightest-purple); }
.hover-dark-purple:hover { color: var(--dark-purple); }
.hover-darkest-purple:hover { color: var(--darkest-purple); }

.backgroundcolor-hover-black:hover { background-color: var(--black); }
.backgroundcolor-hover-near-black:hover { background-color: var(--near-black); }
.backgroundcolor-hover-dark-gray:hover { background-color: var(--dark-gray); }
.backgroundcolor-hover-mid-gray:hover { background-color: var(--mid-gray); }
.backgroundcolor-hover-gray:hover { background-color: var(--gray); }
.backgroundcolor-hover-silver:hover { background-color: var(--silver); }
.backgroundcolor-hover-light-silver:hover { background-color: var(--light-silver); }
.backgroundcolor-hover-moon-gray:hover { background-color: var(--moon-gray); }
.backgroundcolor-hover-light-gray:hover { background-color: var(--light-gray); }
.backgroundcolor-hover-near-white:hover { background-color: var(--near-white); }
.backgroundcolor-hover-white:hover { background-color: var(--white); }
.backgroundcolor-hover-blue:hover { background-color: var(--blue); }
.backgroundcolor-hover-light-blue:hover { background-color: var(--light-blue); }
.backgroundcolor-hover-lightest-blue:hover { background-color: var(--lightest-blue); }
.backgroundcolor-hover-dark-blue:hover { background-color: var(--dark-blue); }
.backgroundcolor-hover-darkest-blue:hover { background-color: var(--darkest-blue); }
.backgroundcolor-hover-yellow:hover { background-color: var(--yellow); }
.backgroundcolor-hover-light-yellow:hover { background-color: var(--light-yellow); }
.backgroundcolor-hover-lightest-yellow:hover { background-color: var(--lightest-yellow); }
.backgroundcolor-hover-dark-yellow:hover { background-color: var(--dark-yellow); }
.backgroundcolor-hover-darkest-yellow:hover { background-color: var(--darkest-yellow); }
.backgroundcolor-hover-orange:hover { background-color: var(--orange); }
.backgroundcolor-hover-light-orange:hover { background-color: var(--light-orange); }
.backgroundcolor-hover-lightest-orange:hover { background-color: var(--lightest-orange); }
.backgroundcolor-hover-dark-orange:hover { background-color: var(--dark-orange); }
.backgroundcolor-hover-darkest-orange:hover { background-color: var(--darkest-orange); }
.backgroundcolor-hover-red:hover { background-color: var(--red); }
.backgroundcolor-hover-light-red:hover { background-color: var(--light-red); }
.backgroundcolor-hover-lightest-red:hover { background-color: var(--lightest-red); }
.backgroundcolor-hover-dark-red:hover { background-color: var(--dark-red); }
.backgroundcolor-hover-darkest-red:hover { background-color: var(--darkest-red); }
.backgroundcolor-hover-teal:hover { background-color: var(--teal); }
.backgroundcolor-hover-light-teal:hover { background-color: var(--light-teal); }
.backgroundcolor-hover-lightest-teal:hover { background-color: var(--lightest-teal); }
.backgroundcolor-hover-dark-teal:hover { background-color: var(--dark-teal); }
.backgroundcolor-hover-darkest-teal:hover { background-color: var(--darkest-teal); }
.backgroundcolor-hover-green:hover { background-color: var(--green); }
.backgroundcolor-hover-light-green:hover { background-color: var(--light-green); }
.backgroundcolor-hover-lightest-green:hover { background-color: var(--lightest-green); }
.backgroundcolor-hover-dark-green:hover { background-color: var(--dark-green); }
.backgroundcolor-hover-darkest-green:hover { background-color: var(--darkest-green); }
.backgroundcolor-hover-pink:hover { background-color: var(--pink); }
.backgroundcolor-hover-light-pink:hover { background-color: var(--light-pink); }
.backgroundcolor-hover-lightest-pink:hover { background-color: var(--lightest-pink); }
.backgroundcolor-hover-dark-pink:hover { background-color: var(--dark-pink); }
.backgroundcolor-hover-darkest-pink:hover { background-color: var(--darkest-pink); }
.backgroundcolor-hover-purple:hover { background-color: var(--purple); }
.backgroundcolor-hover-light-purple:hover { background-color: var(--light-purple); }
.backgroundcolor-hover-lightest-purple:hover { background-color: var(--lightest-purple); }
.backgroundcolor-hover-dark-purple:hover { background-color: var(--dark-purple); }
.backgroundcolor-hover-darkest-purple:hover { background-color: var(--darkest-purple); }

.dim { opacity: 1; transition: opacity .15s ease-in; }
.dim:hover { opacity: .6; transition: opacity .15s ease-in; }
.dim:active,
.dim:focus { opacity: .8; transition: opacity .15s ease-out; }


