/*

   SKINS

*/




/* Text colors */

.black90 {         color: var(--black-90); }
.black80 {         color: var(--black-80); }
.black70 {         color: var(--black-70); }
.black60 {         color: var(--black-60); }
.black50 {         color: var(--black-50); }
.black40 {         color: var(--black-40); }
.black30 {         color: var(--black-30); }
.black20 {         color: var(--black-20); }
.black10 {         color: var(--black-10); }
.black05 {         color: var(--black-05); }

.backgroundcolor-black90 {         background-color: var(--black-90); }
.backgroundcolor-black80 {         background-color: var(--black-80); }
.backgroundcolor-black70 {         background-color: var(--black-70); }
.backgroundcolor-black60 {         background-color: var(--black-60); }
.backgroundcolor-black50 {         background-color: var(--black-50); }
.backgroundcolor-black40 {         background-color: var(--black-40); }
.backgroundcolor-black30 {         background-color: var(--black-30); }
.backgroundcolor-black20 {         background-color: var(--black-20); }
.backgroundcolor-black10 {         background-color: var(--black-10); }
.backgroundcolor-black05 {         background-color: var(--black-05); }

.white90 {         color: var(--white-90); }
.white80 {         color: var(--white-80); }
.white70 {         color: var(--white-70); }
.white60 {         color: var(--white-60); }
.white50 {         color: var(--white-50); }
.white40 {         color: var(--white-40); }
.white30 {         color: var(--white-30); }
.white20 {         color: var(--white-20); }
.white10 {         color: var(--white-10); }

.backgroundcolor-white90 {        background-color: var(--white-90); }
.backgroundcolor-white80 {        background-color: var(--white-80); }
.backgroundcolor-white70 {        background-color: var(--white-70); }
.backgroundcolor-white60 {        background-color: var(--white-60); }
.backgroundcolor-white50 {        background-color: var(--white-50); }
.backgroundcolor-white40 {        background-color: var(--white-40); }
.backgroundcolor-white30 {        background-color: var(--white-30); }
.backgroundcolor-white20 {        background-color: var(--white-20); }
.backgroundcolor-white10 {        background-color: var(--white-10); }

.black {         color: var(--black); }
.nearblack {    color: var(--near-black); }
.darkgray, .darkgrey {     color: var(--dark-gray); }
.midgray, .midgrey {      color: var(--mid-gray); }
.gray, .grey {          color: var(--gray); }
.silver  {       color: var(--silver); }
.lightsilver {  color: var(--light-silver); }
.lightgray, .lightgrey {    color: var(--light-gray); }
.nearwhite {    color: var(--near-white); }
.white {         color: var(--white); }
.blue { color: var(--blue); }
.lightblue { color: var(--light-blue); }
.lightestblue { color: var(--lightest-blue); }
.darkblue { color: var(--dark-blue); }
.darkestblue { color: var(--darkest-blue); }
.yellow { color: var(--yellow); }
.lightyellow { color: var(--light-yellow); }
.lightestyellow { color: var(--lightest-yellow); }
.darkyellow { color: var(--dark-yellow); }
.darkestyellow { color: var(--darkest-yellow); }
.orange { color: var(--orange); }
.lightorange { color: var(--light-orange); }
.lightestorange { color: var(--lightest-orange); }
.darkorange { color: var(--dark-orange); }
.darkestorange { color: var(--darkest-orange); }
.red { color: var(--red); }
.lightred { color: var(--light-red); }
.lightestred { color: var(--lightest-red); }
.darkred { color: var(--dark-red); }
.darkestred { color: var(--darkest-red); }
.teal { color: var(--teal); }
.lightteal { color: var(--light-teal); }
.lightestteal { color: var(--lightest-teal); }
.darkteal { color: var(--dark-teal); }
.darkestteal { color: var(--darkest-teal); }
.green { color: var(--green); }
.lightgreen { color: var(--light-green); }
.lightestgreen { color: var(--lightest-green); }
.darkgreen { color: var(--dark-green); }
.darkestgreen { color: var(--darkest-green); }
.pink { color: var(--pink); }
.lightpink { color: var(--light-pink); }
.lightestpink { color: var(--lightest-pink); }
.darkpink { color: var(--dark-pink); }
.darkestpink { color: var(--darkest-pink); }
.purple { color: var(--purple); }
.lightpurple { color: var(--light-purple); }
.lightestpurple { color: var(--lightest-purple); }
.darkpurple { color: var(--dark-purple); }
.darkestpurple { color: var(--darkest-purple); }

/* Background colors */

.backgroundcolor-black {         background-color: var(--near-black); }
.backgroundcolor-darkgray,
.backgroundcolor-darkgrey {     background-color: var(--dark-gray); }
.backgroundcolor-midgray,
.backgroundcolor-midgrey {      background-color: var(--mid-gray); }
.backgroundcolor-gray,
.backgroundcolor-grey {          background-color: var(--gray); }
.backgroundcolor-silver  {       background-color: var(--silver); }
.backgroundcolor-lightsilver {  background-color: var(--light-silver); }
.backgroundcolor-lightgray,
.backgroundcolor-lightgrey {    background-color: var(--light-gray); }
.backgroundcolor-nearwhite {    background-color: var(--near-white); }
.backgroundcolor-white {         background-color: var(--white); }

.backgroundcolor-blue { background-color: var(--blue); }
.backgroundcolor-lightblue { background-color: var(--light-blue); }
.backgroundcolor-lightestblue { background-color: var(--lightest-blue); }
.backgroundcolor-darkblue { background-color: var(--dark-blue); }
.backgroundcolor-darkestblue { background-color: var(--darkest-blue); }
.backgroundcolor-yellow { background-color: var(--yellow); }
.backgroundcolor-lightyellow { background-color: var(--light-yellow); }
.backgroundcolor-lightestyellow { background-color: var(--lightest-yellow); }
.backgroundcolor-darkyellow { background-color: var(--dark-yellow); }
.backgroundcolor-darkestyellow { background-color: var(--darkest-yellow); }
.backgroundcolor-orange { background-color: var(--orange); }
.backgroundcolor-lightorange { background-color: var(--light-orange); }
.backgroundcolor-lightestorange { background-color: var(--lightest-orange); }
.backgroundcolor-darkorange { background-color: var(--dark-orange); }
.backgroundcolor-darkestorange { background-color: var(--darkest-orange); }
.backgroundcolor-red { background-color: var(--red); }
.backgroundcolor-lightred { background-color: var(--light-red); }
.backgroundcolor-lightestred { background-color: var(--lightest-red); }
.backgroundcolor-darkred { background-color: var(--dark-red); }
.backgroundcolor-darkestred { background-color: var(--darkest-red); }
.backgroundcolor-teal { background-color: var(--teal); }
.backgroundcolor-lightteal { background-color: var(--light-teal); }
.backgroundcolor-lightestteal { background-color: var(--lightest-teal); }
.backgroundcolor-darkteal { background-color: var(--dark-teal); }
.backgroundcolor-darkestteal { background-color: var(--darkest-teal); }
.backgroundcolor-green { background-color: var(--green); }
.backgroundcolor-lightgreen { background-color: var(--light-green); }
.backgroundcolor-lightestgreen { background-color: var(--lightest-green); }
.backgroundcolor-darkgreen { background-color: var(--dark-green); }
.backgroundcolor-darkestgreen { background-color: var(--darkest-green); }
.backgroundcolor-pink { background-color: var(--pink); }
.backgroundcolor-lightpink { background-color: var(--light-pink); }
.backgroundcolor-lightestpink { background-color: var(--lightest-pink); }
.backgroundcolor-darkpink { background-color: var(--dark-pink); }
.backgroundcolor-darkestpink { background-color: var(--darkest-pink); }
.backgroundcolor-purple { background-color: var(--purple); }
.backgroundcolor-lightpurple { background-color: var(--light-purple); }
.backgroundcolor-lightestpurple { background-color: var(--lightest-purple); }
.backgroundcolor-darkpurple { background-color: var(--dark-purple); }
.backgroundcolor-darkestpurple { background-color: var(--darkest-purple); }

/* Skins for specific pseudoclasses */
.focus-black:focus { color: var(--black); }
.focus-nearblack:focus { color: var(--near-black); }
.focus-darkgray:focus,
.focus-darkgrey:focus { color: var(--dark-gray); }
.focus-midgray:focus,
.focus-midgrey:focus { color: var(--mid-gray); }
.focus-gray:focus,
.focus-grey:focus { color: var(--gray); }
.focus-silver:focus { color: var(--silver); }
.focus-lightsilver:focus { color: var(--light-silver); }
.focus-moongray:focus,
.focus-moongrey:focus { color: var(--moon-gray); }
.focus-lightgray:focus,
.focus-lightgrey:focus { color: var(--light-gray); }
.focus-nearwhite:focus { color: var(--near-white); }
.focus-white:focus { color: var(--white); }
.focus-blue:focus { color: var(--blue); }
.focus-lightblue:focus { color: var(--light-blue); }
.focus-lightestblue:focus { color: var(--lightest-blue); }
.focus-darkblue:focus { color: var(--dark-blue); }
.focus-darkestblue:focus { color: var(--darkest-blue); }
.focus-yellow:focus { color: var(--yellow); }
.focus-lightyellow:focus { color: var(--light-yellow); }
.focus-lightestyellow:focus { color: var(--lightest-yellow); }
.focus-darkyellow:focus { color: var(--dark-yellow); }
.focus-darkestyellow:focus { color: var(--darkest-yellow); }
.focus-orange:focus { color: var(--orange); }
.focus-lightorange:focus { color: var(--light-orange); }
.focus-lightestorange:focus { color: var(--lightest-orange); }
.focus-darkorange:focus { color: var(--dark-orange); }
.focus-darkestorange:focus { color: var(--darkest-orange); }
.focus-red:focus { color: var(--red); }
.focus-lightred:focus { color: var(--light-red); }
.focus-lightestred:focus { color: var(--lightest-red); }
.focus-darkred:focus { color: var(--dark-red); }
.focus-darkestred:focus { color: var(--darkest-red); }
.focus-teal:focus { color: var(--teal); }
.focus-lightteal:focus { color: var(--light-teal); }
.focus-lightestteal:focus { color: var(--lightest-teal); }
.focus-darkteal:focus { color: var(--dark-teal); }
.focus-darkestteal:focus { color: var(--darkest-teal); }
.focus-green:focus { color: var(--green); }
.focus-lightgreen:focus { color: var(--light-green); }
.focus-lightestgreen:focus { color: var(--lightest-green); }
.focus-darkgreen:focus { color: var(--dark-green); }
.focus-darkestgreen:focus { color: var(--darkest-green); }
.focus-pink:focus { color: var(--pink); }
.focus-lightpink:focus { color: var(--light-pink); }
.focus-lightestpink:focus { color: var(--lightest-pink); }
.focus-darkpink:focus { color: var(--dark-pink); }
.focus-darkestpink:focus { color: var(--darkest-pink); }
.focus-purple:focus { color: var(--purple); }
.focus-lightpurple:focus { color: var(--light-purple); }
.focus-lightestpurple:focus { color: var(--lightest-purple); }
.focus-darkpurple:focus { color: var(--dark-purple); }
.focus-darkestpurple:focus { color: var(--darkest-purple); }

.backgroundcolor-focus-black:focus { background-color: var(--black); }
.backgroundcolor-focus-nearblack:focus { background-color: var(--near-black); }
.backgroundcolor-focus-darkgray:focus,
.backgroundcolor-focus-darkgrey:focus { background-color: var(--dark-gray); }
.backgroundcolor-focus-midgray:focus,
.backgroundcolor-focus-midgrey:focus { background-color: var(--mid-gray); }
.backgroundcolor-focus-gray:focus,
.backgroundcolor-focus-grey:focus { background-color: var(--gray); }
.backgroundcolor-focus-silver:focus { background-color: var(--silver); }
.backgroundcolor-focus-lightsilver:focus { background-color: var(--light-silver); }
.backgroundcolor-focus-moongray:focus,
.backgroundcolor-focus-moongrey:focus { background-color: var(--moon-gray); }
.backgroundcolor-focus-lightgray:focus,
.backgroundcolor-focus-lightgrey:focus { background-color: var(--light-gray); }
.backgroundcolor-focus-nearwhite:focus { background-color: var(--near-white); }
.backgroundcolor-focus-white:focus { background-color: var(--white); }
.backgroundcolor-focus-blue:focus { background-color: var(--blue); }
.backgroundcolor-focus-lightblue:focus { background-color: var(--light-blue); }
.backgroundcolor-focus-lightestblue:focus { background-color: var(--lightest-blue); }
.backgroundcolor-focus-darkblue:focus { background-color: var(--dark-blue); }
.backgroundcolor-focus-darkestblue:focus { background-color: var(--darkest-blue); }
.backgroundcolor-focus-yellow:focus { background-color: var(--yellow); }
.backgroundcolor-focus-lightyellow:focus { background-color: var(--light-yellow); }
.backgroundcolor-focus-lightestyellow:focus { background-color: var(--lightest-yellow); }
.backgroundcolor-focus-darkyellow:focus { background-color: var(--dark-yellow); }
.backgroundcolor-focus-darkestyellow:focus { background-color: var(--darkest-yellow); }
.backgroundcolor-focus-orange:focus { background-color: var(--orange); }
.backgroundcolor-focus-lightorange:focus { background-color: var(--light-orange); }
.backgroundcolor-focus-lightestorange:focus { background-color: var(--lightest-orange); }
.backgroundcolor-focus-darkorange:focus { background-color: var(--dark-orange); }
.backgroundcolor-focus-darkestorange:focus { background-color: var(--darkest-orange); }
.backgroundcolor-focus-red:focus { background-color: var(--red); }
.backgroundcolor-focus-lightred:focus { background-color: var(--light-red); }
.backgroundcolor-focus-lightestred:focus { background-color: var(--lightest-red); }
.backgroundcolor-focus-darkred:focus { background-color: var(--dark-red); }
.backgroundcolor-focus-darkestred:focus { background-color: var(--darkest-red); }
.backgroundcolor-focus-teal:focus { background-color: var(--teal); }
.backgroundcolor-focus-lightteal:focus { background-color: var(--light-teal); }
.backgroundcolor-focus-lightestteal:focus { background-color: var(--lightest-teal); }
.backgroundcolor-focus-darkteal:focus { background-color: var(--dark-teal); }
.backgroundcolor-focus-darkestteal:focus { background-color: var(--darkest-teal); }
.backgroundcolor-focus-green:focus { background-color: var(--green); }
.backgroundcolor-focus-lightgreen:focus { background-color: var(--light-green); }
.backgroundcolor-focus-lightestgreen:focus { background-color: var(--lightest-green); }
.backgroundcolor-focus-darkgreen:focus { background-color: var(--dark-green); }
.backgroundcolor-focus-darkestgreen:focus { background-color: var(--darkest-green); }
.backgroundcolor-focus-pink:focus { background-color: var(--pink); }
.backgroundcolor-focus-lightpink:focus { background-color: var(--light-pink); }
.backgroundcolor-focus-lightestpink:focus { background-color: var(--lightest-pink); }
.backgroundcolor-focus-darkpink:focus { background-color: var(--dark-pink); }
.backgroundcolor-focus-darkestpink:focus { background-color: var(--darkest-pink); }
.backgroundcolor-focus-purple:focus { background-color: var(--purple); }
.backgroundcolor-focus-lightpurple:focus { background-color: var(--light-purple); }
.backgroundcolor-focus-lightestpurple:focus { background-color: var(--lightest-purple); }
.backgroundcolor-focus-darkpurple:focus { background-color: var(--dark-purple); }
.backgroundcolor-focus-darkestpurple:focus { background-color: var(--darkest-purple); }

.hover-black:hover { color: var(--black); }
.hover-nearblack:hover { color: var(--near-black); }
.hover-darkgray:hover,
.hover-darkgrey:hover { color: var(--dark-gray); }
.hover-midgray:hover,
.hover-midgrey:hover { color: var(--mid-gray); }
.hover-gray:hover,
.hover-grey:hover { color: var(--gray); }
.hover-silver:hover { color: var(--silver); }
.hover-lightsilver:hover { color: var(--light-silver); }
.hover-moongray:hover,
.hover-moongrey:hover { color: var(--moon-gray); }
.hover-lightgray:hover,
.hover-lightgrey:hover { color: var(--light-gray); }
.hover-nearwhite:hover { color: var(--near-white); }
.hover-white:hover { color: var(--white); }
.hover-blue:hover { color: var(--blue); }
.hover-lightblue:hover { color: var(--light-blue); }
.hover-lightestblue:hover { color: var(--lightest-blue); }
.hover-darkblue:hover { color: var(--dark-blue); }
.hover-darkestblue:hover { color: var(--darkest-blue); }
.hover-yellow:hover { color: var(--yellow); }
.hover-lightyellow:hover { color: var(--light-yellow); }
.hover-lightestyellow:hover { color: var(--lightest-yellow); }
.hover-darkyellow:hover { color: var(--dark-yellow); }
.hover-darkestyellow:hover { color: var(--darkest-yellow); }
.hover-orange:hover { color: var(--orange); }
.hover-lightorange:hover { color: var(--light-orange); }
.hover-lightestorange:hover { color: var(--lightest-orange); }
.hover-darkorange:hover { color: var(--dark-orange); }
.hover-darkestorange:hover { color: var(--darkest-orange); }
.hover-red:hover { color: var(--red); }
.hover-lightred:hover { color: var(--light-red); }
.hover-lightestred:hover { color: var(--lightest-red); }
.hover-darkred:hover { color: var(--dark-red); }
.hover-darkestred:hover { color: var(--darkest-red); }
.hover-teal:hover { color: var(--teal); }
.hover-lightteal:hover { color: var(--light-teal); }
.hover-lightestteal:hover { color: var(--lightest-teal); }
.hover-darkteal:hover { color: var(--dark-teal); }
.hover-darkestteal:hover { color: var(--darkest-teal); }
.hover-green:hover { color: var(--green); }
.hover-lightgreen:hover { color: var(--light-green); }
.hover-lightestgreen:hover { color: var(--lightest-green); }
.hover-darkgreen:hover { color: var(--dark-green); }
.hover-darkestgreen:hover { color: var(--darkest-green); }
.hover-pink:hover { color: var(--pink); }
.hover-lightpink:hover { color: var(--light-pink); }
.hover-lightestpink:hover { color: var(--lightest-pink); }
.hover-darkpink:hover { color: var(--dark-pink); }
.hover-darkestpink:hover { color: var(--darkest-pink); }
.hover-purple:hover { color: var(--purple); }
.hover-lightpurple:hover { color: var(--light-purple); }
.hover-lightestpurple:hover { color: var(--lightest-purple); }
.hover-darkpurple:hover { color: var(--dark-purple); }
.hover-darkestpurple:hover { color: var(--darkest-purple); }

.backgroundcolor-hover-black:hover { background-color: var(--black); }
.backgroundcolor-hover-nearblack:hover { background-color: var(--near-black); }
.backgroundcolor-hover-darkgray:hover,
.backgroundcolor-hover-darkgrey:hover { background-color: var(--dark-gray); }
.backgroundcolor-hover-midgray:hover,
.backgroundcolor-hover-midgrey:hover { background-color: var(--mid-gray); }
.backgroundcolor-hover-gray:hover,
.backgroundcolor-hover-grey:hover { background-color: var(--gray); }
.backgroundcolor-hover-silver:hover { background-color: var(--silver); }
.backgroundcolor-hover-lightsilver:hover { background-color: var(--light-silver); }
.backgroundcolor-hover-moongray:hover,
.backgroundcolor-hover-moongrey:hover { background-color: var(--moon-gray); }
.backgroundcolor-hover-lightgray:hover,
.backgroundcolor-hover-lightgrey:hover { background-color: var(--light-gray); }
.backgroundcolor-hover-nearwhite:hover { background-color: var(--near-white); }
.backgroundcolor-hover-white:hover { background-color: var(--white); }
.backgroundcolor-hover-blue:hover { background-color: var(--blue); }
.backgroundcolor-hover-lightblue:hover { background-color: var(--light-blue); }
.backgroundcolor-hover-lightestblue:hover { background-color: var(--lightest-blue); }
.backgroundcolor-hover-darkblue:hover { background-color: var(--dark-blue); }
.backgroundcolor-hover-darkestblue:hover { background-color: var(--darkest-blue); }
.backgroundcolor-hover-yellow:hover { background-color: var(--yellow); }
.backgroundcolor-hover-lightyellow:hover { background-color: var(--light-yellow); }
.backgroundcolor-hover-lightestyellow:hover { background-color: var(--lightest-yellow); }
.backgroundcolor-hover-darkyellow:hover { background-color: var(--dark-yellow); }
.backgroundcolor-hover-darkestyellow:hover { background-color: var(--darkest-yellow); }
.backgroundcolor-hover-orange:hover { background-color: var(--orange); }
.backgroundcolor-hover-lightorange:hover { background-color: var(--light-orange); }
.backgroundcolor-hover-lightestorange:hover { background-color: var(--lightest-orange); }
.backgroundcolor-hover-darkorange:hover { background-color: var(--dark-orange); }
.backgroundcolor-hover-darkestorange:hover { background-color: var(--darkest-orange); }
.backgroundcolor-hover-red:hover { background-color: var(--red); }
.backgroundcolor-hover-lightred:hover { background-color: var(--light-red); }
.backgroundcolor-hover-lightestred:hover { background-color: var(--lightest-red); }
.backgroundcolor-hover-darkred:hover { background-color: var(--dark-red); }
.backgroundcolor-hover-darkestred:hover { background-color: var(--darkest-red); }
.backgroundcolor-hover-teal:hover { background-color: var(--teal); }
.backgroundcolor-hover-lightteal:hover { background-color: var(--light-teal); }
.backgroundcolor-hover-lightestteal:hover { background-color: var(--lightest-teal); }
.backgroundcolor-hover-darkteal:hover { background-color: var(--dark-teal); }
.backgroundcolor-hover-darkestteal:hover { background-color: var(--darkest-teal); }
.backgroundcolor-hover-green:hover { background-color: var(--green); }
.backgroundcolor-hover-lightgreen:hover { background-color: var(--light-green); }
.backgroundcolor-hover-lightestgreen:hover { background-color: var(--lightest-green); }
.backgroundcolor-hover-darkgreen:hover { background-color: var(--dark-green); }
.backgroundcolor-hover-darkestgreen:hover { background-color: var(--darkest-green); }
.backgroundcolor-hover-pink:hover { background-color: var(--pink); }
.backgroundcolor-hover-lightpink:hover { background-color: var(--light-pink); }
.backgroundcolor-hover-lightestpink:hover { background-color: var(--lightest-pink); }
.backgroundcolor-hover-darkpink:hover { background-color: var(--dark-pink); }
.backgroundcolor-hover-darkestpink:hover { background-color: var(--darkest-pink); }
.backgroundcolor-hover-purple:hover { background-color: var(--purple); }
.backgroundcolor-hover-lightpurple:hover { background-color: var(--light-purple); }
.backgroundcolor-hover-lightestpurple:hover { background-color: var(--lightest-purple); }
.backgroundcolor-hover-darkpurple:hover { background-color: var(--dark-purple); }
.backgroundcolor-hover-darkestpurple:hover { background-color: var(--darkest-purple); }
