/*

  SVG FILLS

*/

.fill-black { fill: var(--black); }
.fill-nearblack { fill: var(--near-black); }
.fill-darkgray, .fill-darkgrey { fill: var(--dark-gray); }
.fill-midgray, .fill-midgrey { fill: var(--mid-gray); }
.fill-gray, .fill-grey { fill: var(--gray); }
.fill-silver { fill: var(--silver); }
.fill-lightsilver { fill: var(--light-silver); }
.fill-moongray, .fill-moongrey { fill: var(--moon-gray); }
.fill-lightgray, .fill-lightgrey { fill: var(--light-gray); }
.fill-nearwhite { fill: var(--near-white); }
.fill-white { fill: var(--white); }
.fill-blue { fill: var(--blue); }
.fill-lightblue { fill: var(--light-blue); }
.fill-lightestblue { fill: var(--lightest-blue); }
.fill-darkblue { fill: var(--dark-blue); }
.fill-darkestblue { fill: var(--darkest-blue); }
.fill-yellow { fill: var(--yellow); }
.fill-lightyellow { fill: var(--light-yellow); }
.fill-lightestyellow { fill: var(--lightest-yellow); }
.fill-dark-yellow { fill: var(--dark-yellow); }
.fill-darkestyellow { fill: var(--darkest-yellow); }
.fill-orange { fill: var(--orange); }
.fill-lightorange { fill: var(--light-orange); }
.fill-lightestorange { fill: var(--lightest-orange); }
.fill-darkorange { fill: var(--dark-orange); }
.fill-darkestorange { fill: var(--darkest-orange); }
.fill-red { fill: var(--red); }
.fill-lightred { fill: var(--light-red); }
.fill-lightestred { fill: var(--lightest-red); }
.fill-darkred { fill: var(--dark-red); }
.fill-darkestred { fill: var(--darkest-red); }
.fill-teal { fill: var(--teal); }
.fill-lightteal { fill: var(--light-teal); }
.fill-lightestteal { fill: var(--lightest-teal); }
.fill-darkteal { fill: var(--dark-teal); }
.fill-darkestteal { fill: var(--darkest-teal); }
.fill-green { fill: var(--green); }
.fill-light-green { fill: var(--light-green); }
.fill-lightestgreen { fill: var(--lightest-green); }
.fill-darkgreen { fill: var(--dark-green); }
.fill-darkestgreen { fill: var(--darkest-green); }
.fill-pink { fill: var(--pink); }
.fill-lightpink { fill: var(--light-pink); }
.fill-lightestpink { fill: var(--lightest-pink); }
.fill-darkpink { fill: var(--dark-pink); }
.fill-darkestpink { fill: var(--darkest-pink); }
.fill-purple { fill: var(--purple); }
.fill-lightpurple { fill: var(--light-purple); }
.fill-lightestpurple { fill: var(--lightest-purple); }
.fill-darkpurple { fill: var(--dark-purple); }
.fill-darkestpurple { fill: var(--darkest-purple); }
