/*

  SVG STROKES

*/

.sw-4, .strokewidth-4 { stroke-width: 4; }

.stroke-black { stroke: var(--black); }
.stroke-nearblack { stroke: var(--near-black); }
.stroke-darkgray, .stroke-darkgrey { stroke: var(--dark-gray); }
.stroke-midgray, .stroke-midgrey { stroke: var(--mid-gray); }
.stroke-gray, .stroke-grey { stroke: var(--gray); }
.stroke-silver { stroke: var(--silver); }
.stroke-lightsilver { stroke: var(--light-silver); }
.stroke-moongray, .stroke-moongrey { stroke: var(--moon-gray); }
.stroke-lightgray, .stroke-lightgrey { stroke: var(--light-gray); }
.stroke-nearwhite { stroke: var(--near-white); }
.stroke-white { stroke: var(--white); }
.stroke-blue { stroke: var(--blue); }
.stroke-lightblue { stroke: var(--light-blue); }
.stroke-lightestblue { stroke: var(--lightest-blue); }
.stroke-darkblue { stroke: var(--dark-blue); }
.stroke-darkestblue { stroke: var(--darkest-blue); }
.stroke-yellow { stroke: var(--yellow); }
.stroke-lightyellow { stroke: var(--light-yellow); }
.stroke-lightestyellow { stroke: var(--lightest-yellow); }
.stroke-darkyellow { stroke: var(--dark-yellow); }
.stroke-darkestyellow { stroke: var(--darkest-yellow); }
.stroke-orange { stroke: var(--orange); }
.stroke-lightorange { stroke: var(--light-orange); }
.stroke-lightestorange { stroke: var(--lightest-orange); }
.stroke-darkorange { stroke: var(--dark-orange); }
.stroke-darkestorange { stroke: var(--darkest-orange); }
.stroke-red { stroke: var(--red); }
.stroke-lightred { stroke: var(--light-red); }
.stroke-lightestred { stroke: var(--lightest-red); }
.stroke-darkred { stroke: var(--dark-red); }
.stroke-darkestred { stroke: var(--darkest-red); }
.stroke-teal { stroke: var(--teal); }
.stroke-lightteal { stroke: var(--light-teal); }
.stroke-lightestteal { stroke: var(--lightest-teal); }
.stroke-darkteal { stroke: var(--dark-teal); }
.stroke-darkestteal { stroke: var(--darkest-teal); }
.stroke-green { stroke: var(--green); }
.stroke-lightgreen { stroke: var(--light-green); }
.stroke-lightestgreen { stroke: var(--lightest-green); }
.stroke-darkgreen { stroke: var(--dark-green); }
.stroke-darkestgreen { stroke: var(--darkest-green); }
.stroke-pink { stroke: var(--pink); }
.stroke-lightpink { stroke: var(--light-pink); }
.stroke-lightestpink { stroke: var(--lightest-pink); }
.stroke-darkpink { stroke: var(--dark-pink); }
.stroke-darkestpink { stroke: var(--darkest-pink); }
.stroke-purple { stroke: var(--purple); }
.stroke-lightpurple { stroke: var(--light-purple); }
.stroke-lightestpurple { stroke: var(--lightest-purple); }
.stroke-darkpurple { stroke: var(--dark-purple); }
.stroke-darkestpurple { stroke: var(--darkest-purple); }
