/*

   TEXT DECORATION

*/

/*

   TEXT DECORATION

*/

.underline, .textdecoration-underline  { text-decoration: underline; }
.no-underline, .textdecoration-none   { text-decoration: none; }


@media (--breakpoint-not-small) {
  .underline-ns, .textdecoration-underline-ns  { text-decoration: underline; }
  .no-underline-ns, .textdecoration-none-ns   { text-decoration: none; }
}

@media (--breakpoint-medium) {
  .underline-m, .textdecoration-underline-m  { text-decoration: underline; }
  .no-underline-m, .textdecoration-none-m   { text-decoration: none; }
}

@media (--breakpoint-large) {
  .underline-l, .textdecoration-underline-l  { text-decoration: underline; }
  .no-underline-l, .textdecoration-none-l   { text-decoration: none; }
}