/*

   TYPE SCALE

*/

.mega  { font-size: 4rem; }
.f1    { font-size: 2rem; }
.f2    { font-size: 1.5rem; }
.f3    { font-size: 1.25rem; }
.f4    { font-size: 1rem; }
.f5,
.small { font-size: .85rem; }
.f6,
.xsmall { font-size: .790rem; }
.f7,
.xxsmall { font-size: .702rem }

@media (--breakpoint-not-small){
 .mega-ns { font-size: 4rem; }
 .f1-ns {   font-size: 2rem; }
 .f2-ns {   font-size: 1.5rem; }
 .f3-ns {   font-size: 1.25em; }
 .f4-ns {   font-size: 1rem; }
 .f5-ns,
 .small-ns { font-size: .85rem; }
 .f6-ns,
 .xsmall-ns { font-size: .790rem; }
 .f7-ns,
 .xxsmall-ns { font-size: .702rem }
}

@media (--breakpoint-medium) {
 .mega-m { font-size: 4rem; }
 .f1-m {   font-size: 2rem; }
 .f2-m {   font-size: 1.5rem; }
 .f3-m {   font-size: 1.25rem; }
 .f4-m {   font-size: 1rem; }
 .f5-m,
 .small-m { font-size: .85rem; }
 .f6-m,
 .xsmall-m { font-size: .790rem; }
 .f7-m,
 .xxsmall-m { font-size: .702rem }
}

@media (--breakpoint-large) {
 .mega-l { font-size: 4rem; }
 .f1-l   { font-size: 2rem; }
 .f2-l   { font-size: 1.5rem; }
 .f3-l   { font-size: 1.25rem; }
 .f4-l   { font-size: 1rem; }
 .f5-l,
 .small-l { font-size: .85rem; }
 .f6-l,
 .xsmall-l { font-size: .790rem; }
 .f7-l,
 .xxsmall-l { font-size: .702rem }
}
