@custom-media --breakpoint-not-small screen and (min-width: 48em);
@custom-media --breakpoint-medium screen and (min-width: 48em) and (max-width: 64em);
@custom-media --breakpoint-large screen and (min-width: 64em);

/*

   TYPE SCALE

*/

/* For Hero Titles */
.f-6,
.f-headline {
  font-size: 6rem;
}
.f-5,
.f-subheadline {
  font-size: 4rem;
}

/* Type Scale */
.f1    { font-size: 2rem; }
.f2    { font-size: 1.5rem; }
.f3    { font-size: 1.25rem; }
.f4    { font-size: 1rem; }
.f5,
.small { font-size: .85rem; }
.f6,
.xsmall { font-size: .790rem; }
.f7,
.xxsmall { font-size: .702rem }

@media (--breakpoint-not-small){
  .f-6-ns,
  .f-headline-ns { font-size: 6rem; }
  .f-5-ns,
  .f-subheadline-ns { font-size: 4rem; }
  .f1-ns {   font-size: 2rem; }
  .f2-ns {   font-size: 1.5rem; }
  .f3-ns {   font-size: 1.25em; }
  .f4-ns {   font-size: 1rem; }
  .f5-ns,
  .small-ns { font-size: .85rem; }
  .f6-ns,
  .xsmall-ns { font-size: .790rem; }
  .f7-ns,
  .xxsmall-ns { font-size: .702rem }
}

@media (--breakpoint-medium) {
  .f-6-m,
  .f-headline-m { font-size: 6rem; }
  .f-5-m,
  .f-subheadline-m { font-size: 4rem; }
  .f1-m {   font-size: 2rem; }
  .f2-m {   font-size: 1.5rem; }
  .f3-m {   font-size: 1.25rem; }
  .f4-m {   font-size: 1rem; }
  .f5-m,
  .small-m { font-size: .85rem; }
  .f6-m,
  .xsmall-m { font-size: .790rem; }
  .f7-m,
  .xxsmall-m { font-size: .702rem }
}

@media (--breakpoint-large) {
  .f-6-l,
  .f-headline-l {
    font-size: 6rem;
  }
  .f-5-l,
  .f-subheadline-l {
    font-size: 4rem;
  }
  .f1-l   { font-size: 2rem; }
  .f2-l   { font-size: 1.5rem; }
  .f3-l   { font-size: 1.25rem; }
  .f4-l   { font-size: 1rem; }
  .f5-l,
  .small-l { font-size: .85rem; }
  .f6-l,
  .xsmall-l { font-size: .790rem; }
  .f7-l,
  .xxsmall-l { font-size: .702rem }
}
